* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

.dropdown {
  position: relative;
  height: 3rem;
  margin-top: 2rem;
  width: 100%;
  text-align: center;
  justify-content: space-evenly;
  display: grid;
  grid-gap: var(--ifm-spacing-horizontal);
  grid-template-columns: repeat(3, 1fr);
  border-radius: 5px;
}

.dropdown-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: inherit;
  border: none;
}

.unit-selection {
  cursor: pointer;
  display: inline-block;
  line-height: 1.5rem;
  display: flex;
  align-items: flex-start;
  margin-left: 10rem;
  width:10rem;
}

.unit-selection :hover {
  color: rgb(80, 118, 221);
}

.dropdown-content {
  position: absolute;
  margin-top: 2rem;
  margin-left: 25rem;
  padding: 1px;
  width: 30rem;
  background: var(--ifm-background-color-dropdown);
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #333;
  text-align: left;
}
.dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
  text-align: left;
  padding-left: 2rem;
}

.dropdown-content :hover {
  padding: 11px;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  transition: all 0.2s;
  border-left: 2px solid #000;
  padding-left: 1rem;
  text-decoration: none;
}

.pagination-nav__sublabel {
  margin-bottom: -275px;
}

.button-24 {
  color: var(--ifm-text-color-dropdown);
  cursor: pointer;
  display: inline-block;
  padding: 2px;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-family: "Segoe UI","SegoeUI", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  width: 7rem;
}

.button-24:hover {
  color: #0065b3;
  border: 2px solid #0065b3;
  border-radius: 2px;
  display: inline-block;
}

.disable-btn {
  display: none;
}

.arrow {
  box-sizing: border-box;
  height: 10px;
  width: 10px;
  border-style: solid;
  border-color: var(--ifm-text-color-dropdown);
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
  margin: -0.9rem;
}

.arrow:hover {
  cursor: pointer;
  border-top-width: 0;
  border-left-width: 0;
}

.unit {
  font-weight: 600;
  font-size: 0.875rem;
  color: var(--ifm-text-color-dropdown);
  cursor: pointer;
  padding: 0.4rem;
  font-family: "Segoe UI", "SegoeUI", Helvetica Neue, Helvetica, Arial, sans-serif;
  padding-inline: 0.75em;
  line-height: 1.5;
}
